* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 19px;
    font-family: sans-serif;
}

body {
    background-color: #f6f9ff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #36c;
    color: white;
    padding: 1rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75rem;
    max-width: 75rem;
    margin: 0 auto;
}

.logo {
    display: flex;
    flex-direction: column;
}

.logo .author {
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.logo .position {
    margin: 0;
    font-size: 0.88rem;
    font-style: italic;
    color: #ccc;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
    font-size: 1rem;
}

nav a:hover {
    text-decoration: underline;
}

footer {
    background-color: #333;
    padding: 1rem;
    color: white;
}

.wrapper {
    max-width: 75rem;
    margin: 0 auto;
}

article {
    max-width: 75rem;
    border-radius: 0.5rem;
    margin: 2rem auto;
    padding: 4rem;
    background-color: white;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.1);
}

h1 {
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 3rem;
}

h2 {
    font-size: 1.7rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

h2 code {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 1rem 0;
}

code {
    font-family: monospace;
    font-size: 0.88rem;
    padding: 0.125rem .25rem;
}

pre {
    padding: 1rem;
    overflow-x: auto;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    margin: 1rem 0;
}

pre code {
    background-color: transparent;
    padding: 0;
}

.author-info {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 3rem 0;
}

.author-image {
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
}

.author-details {
    display: flex;
    flex-direction: column;
}

.writtenby {
  font-size: 0.88rem;
  font-style: italic;
}

.byauthor {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.25rem 0;
}

.social-icons {

}

.social-icons a {
    margin-left: 0.5rem;
    color: #36c;
}

.social-icons a:visited {
    color: #36c;
}

ul {
    padding-left: 2rem;
    list-style: square;
    margin: 1rem 0;
}

li {
    margin-bottom: 0.5rem;
}


@media (max-width: 600px) {
    html {
        font-size: 10px;
    }

    article {
        padding: 1rem;
    }
}

@media (min-width: 601px) and (max-width: 830px) {
    html {
        font-size: 12px;
    }

    article {
        padding: 1rem;
    }
}

@media (min-width: 831px) and (max-width: 1024px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 1025px) and (max-width: 1089px) {
    html {
        font-size: 14px;
    }
}

@media (min-width: 1090px) and (max-width: 1164px) {
    html {
        font-size: 15px;
    }
}

@media (min-width: 1165px) and (max-width: 1234px) {
    html {
        font-size: 16px;
    }
}

@media (min-width: 1235px) and (max-width: 1311px) {
    html {
        font-size: 17px;
    }
}

@media (min-width: 1310px) and (max-width: 1400px) {
    html {
        font-size: 18px;
    }
}

@media print {
    html {
        font-size: 10px;
    }

    body {
        color: black;
    }

    header,
    footer {
        display: none;
    }

    article {
        width: 100%;
        padding: 0;
        margin: 0;
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
}
